<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-utf-8">
    <title>Room Display</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <table id="appLights">
        <caption> Light Info </caption>
        <tr>
            <th scope="col" align="center">#</th>
            <th scope="col" align="center">Room ID</th>
            <th scope="col" align="center">Light Status</th>
            <th scope="col" align="center">Light Level</th>
            <th scope="col" align="center">Switch Light</th>
        </tr>
        <tr v-for="light in lights">
            <td scope="col" align="center">{{light.id}}</td>
            <td scope="col" align="center">{{light.roomId}}</td>
            <td v-if='light.status == "ON"'><img v-bind:id="light.id" src="img/ic_bulb_on.png"></td>
            <td v-else><img v-bind:id="light.id" src="img/ic_bulb_off.png"></td>
            <td scope="col" align="center">{{light.level}}</td>
            <td scope="col" align="center"><button v-on:click="changeLight(light.id)"><img src="img/switch.png"></button></td>
        </tr>
    </table>
    <br>

    <table id="appRooms">
        <caption> Room Info </caption>
        <tr>
            <th scope="col" align="center">#</th>
            <th scope="col" align="center">Room Name</th>
            <th scope="col" align="center">Room Level</th>
            <th scope="col" align="center">Switch Light</th>
        </tr>
        <tr v-for="room in rooms">
            <td scope="col" align="center">{{room.id}}</td>
            <td scope="col" align="center">{{room.name}}</td>
            <td scope="col" align="center">{{room.level}}</td>
            <td scope="col" align="center"><button v-on:click="changeRoomLight(room.id)"><img src="img/switch.png"></button></td>
        </tr>
    </table>
    <br>



    <script>
        const spring_url_api = "https://fair-corp.cleverapps.io/api"
//          const spring_url_api = "127.0.0.1:8080/api"


        var vm_rooms = new Vue({
            el: "#appRooms",
            data: {
                rooms: [],
                lights: []
            },
            created() {
                let get_url = spring_url_api + "/rooms"
                fetch(get_url)
                    .then(response => response.json())
                    .then(json => {
                        this.rooms = json
                    })
            },
            methods: {
                changeRoomLight: function(id){
                    let put_url = spring_url_api + "/rooms/" + id + "/switch"
                    let get_url = spring_url_api + "/lights"
                    axios.put(put_url, id).then(response =>{
                        console.log(response.data)
                    })
                    axios.get(get_url).then(response =>{
                        this.lights['roomID'] = response.data['roomId']
                        this.lights['id'] = response.data['id']
                        this.lights['status'] = response.data['status']
                        console.log("get response"+response.data['roomId']+response.data['id']+response.data['status'])
                        if(this.lights['roomId']==id){
                            if(this.lights['status']=="ON"){
                                document.getElementById(this.lights['id']).src="img/ic_bulb_on.png"
                            }
                            else if(this.lights['status']=="OFF"){
                                document.getElementById(this.lights['id']).src="img/ic_bulb_off.png"
                            }
                        }
                    })
/*                    axios.get(get_url).then(response => {
                        this.rooms = response.data
                    })
    */          }
            }
        })

        var vm_lights = new Vue({
            el: "#appLights",
            data: {
                lights: [],
                lightModified: []
            },
            created() {
                let get_url = spring_url_api + "/lights"
                fetch(get_url)
                    .then(response => response.json())
                    .then(json => {
                        this.lights = json
                    })
            },
            methods: {
                changeLight: function(id) {
                    let put_url = spring_url_api + "/lights/" + id + "/switch"
                    let get_url = spring_url_api + "/lights"
                    axios.put(put_url, id).then(response => {
                        //console.log(response.data)
                        this.lightModified['id'] = response.data['id'],
                        this.lightModified['status'] = response.data['status']
                        console.log("put "+this.lightModified['status']+" "+this.lightModified['id'])
                        if(this.lightModified['status']=="ON"){
                            document.getElementById(this.lightModified['id']).src="img/ic_bulb_on.png"
                        }
                        else if(this.lightModified['status']=="OFF"){
                            document.getElementById(this.lightModified['id']).src="img/ic_bulb_off.png"
                        }
                    })
/*                  //this is too slow
                    axios.get(get_url).then(response => {
                        this.lights = response.data
                        console.log("get "+this.lights)
                    })*/                
                }
            }
        })

    </script>
</body>

</html>
